{% extends 'base_product.html' %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="St Guchi" %}
{% endblock %}

{% block contents %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2" id="sidebar-nav">
			<ul id="nav" class="nav nav-pills nav-stacked" data-spy="affix"> <!-- data-href == href of the #nav-top page's href -->
				<li><a href="{% url 'doorlock:st_guchi_accessories' %}" data-href="st_guchi_accessories">Accessories</a></li>
				<li><a href="{% url 'doorlock:st_guchi_cylindrical_lever' %}" data-href="st_guchi_cylindrical_lever">Cylindrical Lever</a></li>
                <li><a href="{% url 'doorlock:st_guchi_cylindrical_lock' %}" data-href="st_guchi_cylindrical_lock">Cylindrical Lock</a></li>
                <li><a href="{% url 'doorlock:st_guchi_deadbolt_lock' %}" data-href="st_guchi_deadbolt_lock">Deadbolt Lock</a></li>
                <li><a href="{% url 'doorlock:st_guchi_door_closer' %}" data-href="st_guchi_door_closer">Door Closer</a></li>
                <li><a href="{% url 'doorlock:st_guchi_handle_set' %}" data-href="st_guchi_handle_set">Handle Set</a></li>
                <li><a href="{% url 'doorlock:st_guchi_lever_handle' %}" data-href="st_guchi_lever_handle">Lever Handle</a></li>
                <li><a href="{% url 'doorlock:st_guchi_mortise_lock' %}" data-href="st_guchi_mortise_lock">Mortise Lock</a></li>
                <li><a href="{% url 'doorlock:st_guchi_mortise_handle_set' %}" data-href="st_guchi_mortise_handle_set">Mortise Handle Set</a></li>
                <li><a href="{% url 'doorlock:st_guchi_mortise_hook_lock' %}" data-href="st_guchi_mortise_hook_lock">Mortise Lock & Hook Lock</a></li>
                <li><a href="{% url 'doorlock:st_guchi_pad_lock' %}" data-href="st_guchi_pad_lock">Pad Lock</a></li>
                <li><a href="{% url 'doorlock:st_guchi_profile_cylinder' %}" data-href="st_guchi_profile_cylinder">Profile Cylinder</a></li>
                <li><a href="{% url 'doorlock:st_guchi_pull_handle' %}" data-href="st_guchi_pull_handle">Pull Handle</a></li>
                <li><a href="{% url 'doorlock:st_guchi_tubular_lever' %}" data-href="st_guchi_tubular_lever">Tubular Lever</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-md-10" id="content-col">
            <ul id="nav-top" class="nav nav-tabs" role="tablist" style="text-align: right; z-index: 1" data-spy="affix">
					<li style="float: left"><h4 class="nav-top-h4"></h4></li>
					<li role="presentation" class="active a"><a href="#solid_wooden_door" aria-controls="#solid_wooden_door" role="tab" data-toggle="tab">1</a></li>
					{% for i in "2345678"  %}
					<li role="presentation"><a href="#solid_wooden_door{{i}}" aria-controls="#solid_wooden_door{{i}}" role="tab" data-toggle="tab">{{i}}</a></li>
					{% endfor %}
            </ul>
    {% block st_guchi %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}