{% extends 'base_product.html' %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Viva" %}
{% endblock %}

{% block contents %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2" id="sidebar-nav">
			<ul id="nav" class="nav nav-pills nav-stacked" data-spy="affix"> <!-- data-href == href of the #nav-top page's href -->
				<li><a href="{% url 'doorlock:viva_cylindrical_knob_set' %}" data-href="viva_cylindrical_knob_set">Cylindrical Knob Set</a></li>
				<li><a href="{% url 'doorlock:viva_hinge' %}" data-href="viva_hinge">Hinge</a></li>
                <li><a href="{% url 'doorlock:viva_hook_lock' %}" data-href="viva_hook_lock">Hook Lock</a></li>
                <li><a href="{% url 'doorlock:viva_tubular_lockset' %}" data-href="viva_tubular_lockset">Tubular Lockset</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-md-10" id="content-col">
            <ul id="nav-top" class="nav nav-tabs" role="tablist" style="text-align: right; z-index: 1" data-spy="affix">
					<li style="float: left"><h4 class="nav-top-h4"></h4></li>
					<li role="presentation" class="active a"><a href="#solid_wooden_door" aria-controls="#solid_wooden_door" role="tab" data-toggle="tab">1</a></li>
					{% for i in "2345678"  %}
					<li role="presentation"><a href="#solid_wooden_door{{i}}" aria-controls="#solid_wooden_door{{i}}" role="tab" data-toggle="tab">{{i}}</a></li>
					{% endfor %}
            </ul>
    {% block viva %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}