{% extends 'doorlock/base_product_digital_doorlock.html' %}

{% block title %}
<title>Samsung Digital Door Lock | Digital Door Lock in Johor Bahru</title>
{% endblock %}

{% block digital_doorlock %}
<div class="tab-content">
    {% if digital_doorlock_samsung_page != digital_doorlock_samsung %}
    {% for d in digital_doorlock_samsung %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="digital_doorlock_samsung{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="digital_doorlock_samsung{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in digital_doorlock_samsung %}
        {% if forloop.counter == 1 %}
        <div id="digital_doorlock_samsung" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}