{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Digital Door Lock - Samsung & Gateman Digital Door Lock</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Digital Door Lock" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:digital_doorlock_samsung' %}">
                     <img class="img-thumbnail" src="{% static 'img/samsung digital doorlock.jpg' %}" alt="Samsung Digital Door Lock">
                 </a>
               </div>
            </div>
            <h4>Samsung Digital Door Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:digital_doorlock_gateman' %}">
                     <img class="img-thumbnail" src="{% static 'img/gateman digital doorlock.jpg' %}" alt="Gateman Digital Door Lock">
                 </a>
               </div>
            </div>
            <h4>Gateman Digital Door Lock</h4>
        </div>
    </div>
</div>
{% endblock %}