{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Door Lock - St Guchi | Hafele | Digital Door Lock | Viva | Greset | Ikaros</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Door Lock" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi door lock.jpg' %}" alt="St Guchi Door Lock">
                 </a>
               </div>
            </div>
            <h4>St Guchi Door Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:digital_doorlock' %}">
                     <img class="img-thumbnail" src="{% static 'img/digital door lock.jpg' %}" alt="Digital Door Lock">
                 </a>
               </div>
            </div>
            <h4>Digital Door Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:hafele' %}">
                     <img class="img-thumbnail" src="{% static 'img/hafele door lock.jpg' %}" alt="Hafele Door Lock">
                 </a>
               </div>
            </div>
            <h4>Hafele Door Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:viva' %}">
                     <img class="img-thumbnail" src="{% static 'img/viva door lock.jpg' %}" alt="Viva Door Lock">
                 </a>
               </div>
            </div>
            <h4>Viva Door Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:greset' %}">
                     <img class="img-thumbnail" src="{% static 'img/greset door lock.jpg' %}" alt="Greset Door Lock">
                 </a>
               </div>
            </div>
            <h4>Greset Door Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:ikaros' %}">
                     <img class="img-thumbnail" src="{% static 'img/ikaros door lock.jpg' %}" alt="Ikaros Door Lock">
                 </a>
               </div>
            </div>
            <h4>Ikaros Door Lock</h4>
        </div>
    </div>
</div>
{% endblock %}