{% extends 'doorlock/base_product_greset.html' %}

{% block title %}
<title>Greset Tubular Lever | Door Lock in Johor Bahru (JB)</title>
{% endblock %}

{% block greset %}
<div class="tab-content">
    {% if greset_tubular_lever_page != greset_tubular_lever %}
    {% for d in greset_tubular_lever %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="greset_tubular_lever{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="greset_tubular_lever{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in greset_tubular_lever %}
        {% if forloop.counter == 1 %}
        <div id="greset_tubular_lever" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}