{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Greset Door Lock - Cylindrical Lock | Deadbolt Lock | Handle Set</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Greset" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:greset_cylindrical_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/greset cylindrical lock.jpg' %}" alt="Cylindrical Lock">
                 </a>
               </div>
            </div>
            <h4>Cylindrical Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:greset_deadbolt_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/greset deadbolt lock.jpg' %}" alt="Deadbolt Lock">
                 </a>
               </div>
            </div>
            <h4>Deadbolt Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:greset_handle_set' %}">
                     <img class="img-thumbnail" src="{% static 'img/greset handle set.jpg' %}" alt="Handle Set">
                 </a>
               </div>
            </div>
            <h4>Handle Set</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:greset_tubular_lever' %}">
                     <img class="img-thumbnail" src="{% static 'img/greset tubular lever.jpg' %}" alt="Tubular Lever">
                 </a>
               </div>
            </div>
            <h4>Tubular Lever</h4>
        </div>
    </div>
</div>
{% endblock %}