{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Hafele Door Lock - Cylindrical Lever Handle Set | Knob Lockset & Single Deadbolt</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Hafele" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:hafele_cylindrical_lever_handle_set' %}">
                     <img class="img-thumbnail" src="{% static 'img/hafele cylindrical lever handle set.jpg' %}" alt="Cylindrical Lever Handle Set">
                 </a>
               </div>
            </div>
            <h4>Cylindrical Lever Handle Set</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:hafele_lever_handle_set' %}">
                     <img class="img-thumbnail" src="{% static 'img/hafele lever handle set.jpg' %}" alt="Lever Handle Set">
                 </a>
               </div>
            </div>
            <h4>Lever Handle Set</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:hafele_tubular_lever_handle_set' %}">
                     <img class="img-thumbnail" src="{% static 'img/hafele tubular lever handle set.jpg' %}" alt="Tubular Lever Handle Set">
                 </a>
               </div>
            </div>
            <h4>Tubular Lever Handle Set</h4>
        </div>
    </div>
</div>
{% endblock %}