{% extends 'doorlock/base_product_ikaros.html' %}

{% block title %}
<title>Ikaros Cylindrical Lever | Door Lock in Johor Bahru (JB)</title>
{% endblock %}

{% block ikaros %}
<div class="tab-content">
    {% if ikaros_cylindrical_lever_page != ikaros_cylindrical_lever %}
    {% for d in ikaros_cylindrical_lever %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="ikaros_cylindrical_lever{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="ikaros_cylindrical_lever{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in ikaros_cylindrical_lever %}
        {% if forloop.counter == 1 %}
        <div id="ikaros_cylindrical_lever" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}