{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Ikaros Door Lock - Cylindrical Lever | Pad Lock</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Ikaros" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:ikaros_cylindrical_lever' %}">
                     <img class="img-thumbnail" src="{% static 'img/ikaros cylindrical lever.jpg' %}" alt="Cylindrical Lever">
                 </a>
               </div>
            </div>
            <h4>Cylindrical Lever</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:ikaros_pad_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/ikaros door lock.jpg' %}" alt="Pad Lock">
                 </a>
               </div>
            </div>
            <h4>Pad Lock</h4>
        </div>
    </div>
</div>
{% endblock %}