{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>St Guchi Door Lock - Mortise Lock | Door Closer | Pull Handle</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="St Guchi" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_accessories' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/accessories.jpg' %}" alt="Accessories">
                 </a>
               </div>
            </div>
            <h4>Accessories</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_cylindrical_lever' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/cylindrical lever.jpg' %}" alt="Cylindrical Level">
                 </a>
               </div>
            </div>
            <h4>Cylindrical Level</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_cylindrical_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/cylindrical lock.jpg' %}" alt="Cylindrical Lock">
                 </a>
               </div>
            </div>
            <h4>Cylindrical Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_deadbolt_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/deadbolt lock.jpg' %}" alt="Deadbolt Lock">
                 </a>
               </div>
            </div>
            <h4>Deadbolt Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_door_closer' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/door closer.jpg' %}" alt="Door Closer">
                 </a>
               </div>
            </div>
            <h4>Door Closer</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_handle_set' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/handle set.jpg' %}" alt="Handle Set">
                 </a>
               </div>
            </div>
            <h4>Handle Set</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_lever_handle' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/lever handle.jpg' %}" alt="Lever Handle">
                 </a>
               </div>
            </div>
            <h4>Lever Handle</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_mortise_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/mortise lock.jpg' %}" alt="Mortise Lock">
                 </a>
               </div>
            </div>
            <h4>Mortise Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_mortise_handle_set' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/mortise handle set.jpg' %}" alt="Mortise Handle Set">
                 </a>
               </div>
            </div>
            <h4>Mortise Handle Set</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_mortise_hook_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/mortise lock & hook lock.jpg' %}" alt="Mortise Lock & Hook Lock">
                 </a>
               </div>
            </div>
            <h4>Mortise Lock & Hook Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_pad_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/pad lock.jpg' %}" alt="Pad Lock">
                 </a>
               </div>
            </div>
            <h4>Pad Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_profile_cylinder' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/profile cylinder.jpg' %}" alt="Profile Cylinder">
                 </a>
               </div>
            </div>
            <h4>Profile Cylinder</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_pull_handle' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/pull handle.jpg' %}" alt="Pull Handle">
                 </a>
               </div>
            </div>
            <h4>Pull Handle</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:st_guchi_tubular_lever' %}">
                     <img class="img-thumbnail" src="{% static 'img/st guchi/tubular lever.jpg' %}" alt="Tubular Lever">
                 </a>
               </div>
            </div>
            <h4>Tubular Lever</h4>
        </div>
    </div>
</div>
{% endblock %}