{% extends 'doorlock/base_product_st_guchi.html' %}

{% block title %}
<title>St Guchi Door Closer | Door Lock in Johor Bahru (JB)</title>
{% endblock %}

{% block st_guchi %}
<div class="tab-content">
    {% if st_guchi_door_closer_page != st_guchi_door_closer %}
    {% for d in st_guchi_door_closer %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="st_guchi_door_closer{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="st_guchi_door_closer{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in st_guchi_door_closer %}
        {% if forloop.counter == 1 %}
        <div id="st_guchi_door_closer" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}