{% extends 'doorlock/base_product_viva.html' %}

{% block title %}
<title>Viva Tubular Lockset | Door Lock in Johor Bahru (JB)</title>
{% endblock %}

{% block viva %}
<div class="tab-content">
    {% if viva_tubular_lockset_page != viva_tubular_lockset %}
    {% for d in viva_tubular_lockset %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="viva_tubular_lockset{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="viva_tubular_lockset{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in viva_tubular_lockset %}
        {% if forloop.counter == 1 %}
        <div id="viva_tubular_lockset" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}