{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Viva Door Lock - Cylindrical Knob Set | Hinge | Tubular Lockset</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Ikaros" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:viva_cylindrical_knob_set' %}">
                     <img class="img-thumbnail" src="{% static 'img/viva/cylindrical knob set.jpg' %}" alt="Cylindrical Knob Set">
                 </a>
               </div>
            </div>
            <h4>Cylindrical Knob Set</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:viva_hinge' %}">
                     <img class="img-thumbnail" src="{% static 'img/viva/hinges.jpg' %}" alt="Hinge">
                 </a>
               </div>
            </div>
            <h4>Hinge</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:viva_hook_lock' %}">
                     <img class="img-thumbnail" src="{% static 'img/viva/hook lock.jpg' %}" alt="Hook Lock">
                 </a>
               </div>
            </div>
            <h4>Hook Lock</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'doorlock:viva_tubular_lockset' %}">
                     <img class="img-thumbnail" src="{% static 'img/viva/tubular lockset.jpg' %}" alt="Tubular Lockset">
                 </a>
               </div>
            </div>
            <h4>Tubular Lockset</h4>
        </div>
    </div>
</div>
{% endblock %}