{% extends 'base_product.html' %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Kitchen & Bathroom Accessories" %}
{% endblock %}

{% block contents %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2" id="sidebar-nav">
			<ul id="nav" class="nav nav-pills nav-stacked" data-spy="affix"> <!-- data-href == href of the #nav-top page's href -->
				<li><a href="{% url 'kitchen_bathroom_accessories:sink' %}" data-href="sink">Sink</a></li>
				<li><a href="{% url 'kitchen_bathroom_accessories:kitchen_accessories' %}" data-href="kitchen_accessories">Kitchen Accessories</a></li>
				<li><a href="{% url 'kitchen_bathroom_accessories:bathroom_accessories' %}" data-href="bathroom_accessories">Bathroom Accessories</a></li>
				<li><a href="{% url 'kitchen_bathroom_accessories:water_tap' %}" data-href="water_tap">Water Tap</a></li>
            </ul>
		</div>
		<div class="col-sm-9 col-md-10" id="content-col">
            <ul id="nav-top" class="nav nav-tabs" role="tablist" style="text-align: right; z-index: 1" data-spy="affix">
					<li style="float: left"><h4 class="nav-top-h4"></h4></li>
					<li role="presentation" class="active a"><a href="#solid_wooden_door" aria-controls="#solid_wooden_door" role="tab" data-toggle="tab">1</a></li>
					{% for i in "2345678"  %}
					<li role="presentation"><a href="#solid_wooden_door{{i}}" aria-controls="#solid_wooden_door{{i}}" role="tab" data-toggle="tab">{{i}}</a></li>
					{% endfor %}
            </ul>
    {% block accessories %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}