{% extends 'kitchen_bathroom_accessories/base_product_accessories.html' %}

{% block title %}
<title>Bathroom Accessories | Kitchen & Bathroom Accessories in Johor Bahru (JB)</title>
{% endblock %}

{% block accessories %}
<div class="tab-content">
    {% if bathroom_accessories_page != bathroom_accessories %}
    {% for d in bathroom_accessories %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="bathroom_accessories{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="bathroom_accessories{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in bathroom_accessories %}
        {% if forloop.counter == 1 %}
        <div id="bathroom_accessories" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}