{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Kitchen & Bathroom Accessories - Sink | Water Tap | Accessories</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Kitchen & Bathroom Accessories" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'kitchen_bathroom_accessories:sink' %}">
                     <img class="img-thumbnail" src="{% static 'img/sink.jpg' %}" alt="Sink">
                 </a>
               </div>
            </div>
            <h4>Sink</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'kitchen_bathroom_accessories:kitchen_accessories' %}">
                     <img class="img-thumbnail" src="{% static 'img/kitchen accessories.jpg' %}" alt="Kitchen Accessories">
                 </a>
               </div>
            </div>
            <h4>Kitchen Accessories</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'kitchen_bathroom_accessories:bathroom_accessories' %}">
                     <img class="img-thumbnail" src="{% static 'img/bathroom accessories.jpg' %}" alt="Bathroom Accessories">
                 </a>
               </div>
            </div>
            <h4>Bathroom Accessories</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'kitchen_bathroom_accessories:water_tap' %}">
                     <img class="img-thumbnail" src="{% static 'img/tap.jpg' %}" alt="Water Tap">
                 </a>
               </div>
            </div>
            <h4>Water Tap</h4>
        </div>
    </div>
</div>
{% endblock %}