{% extends 'kitchen_bathroom_accessories/base_product_accessories.html' %}

{% block title %}
<title>Water Tap | Kitchen & Bathroom Accessories in Johor Bahru (JB)</title>
{% endblock %}

{% block accessories %}
<div class="tab-content">
    {% if water_tap_page != water_tap %}
    {% for d in water_tap %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="water_tap{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="water_tap{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in water_tap %}
        {% if forloop.counter == 1 %}
        <div id="water_tap" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}