{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Door - Solid Wooden Door | Fire Door | MPC Design Door</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Door" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'door:solid_wooden_door' %}">
                     <img class="img-thumbnail" src="{% static 'img/solid wooden door.jpg' %}" alt="Solid Wooden Door">
                 </a>
               </div>
            </div>
            <h4>Solid Wooden Door</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'door:firedoor' %}">
                     <img class="img-thumbnail" src="{% static 'img/fire door.jpg' %}" alt="Fire Door">
                 </a>
               </div>
            </div>
            <h4>Fire Door</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'door:MPC_design_door' %}">
                     <img class="img-thumbnail" src="{% static 'img/mpc design door.jpg' %}" alt="MPC Design Door">
                 </a>
               </div>
            </div>
            <h4>MPC Design Door</h4>
        </div>
    </div>
</div>
{% endblock %}