{% extends 'door/base_product_door.html' %}

{% block title %}
<title>Fire Door | Door Shop in Johor Bahru(JB)</title>
{% endblock %}

{% block door %}
<div class="tab-content">
    {% if firedoor_page != firedoor %}
    {% for d in firedoor %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="firedoor{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="firedoor{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in firedoor %}
        {% if forloop.counter == 1 %}
        <div id="firedoor" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}

