{% extends 'door/base_product_door.html' %}

{% block title %}
<title>MPC Design Door | Door Shop in Johor Bahru(JB)</title>
{% endblock %}

{% block door %}
<div class="tab-content">
    {% if MPC_design_door_page != MPC_design_door %}
    {% for d in MPC_design_door %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="MPC_design_door{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="MPC_design_door{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in MPC_design_door %}
        {% if forloop.counter == 1 %}
        <div id="MPC_design_door" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>

{% include 'contact_modal.html' %}
{% endblock %}