{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Others - Staircase | Autogate System | Shower Screen | Hardware Misc</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Other Products" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'others:others_staircase' %}">
                     <img class="img-thumbnail" src="{% static 'img/staircase.jpg' %}" alt="Staircase">
                 </a>
               </div>
            </div>
            <h4>Staircase</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'others:others_wooden_window' %}">
                     <img class="img-thumbnail" src="{% static 'img/wooden window.jpg' %}" alt="Wooden Window">
                 </a>
               </div>
            </div>
            <h4>Wooden Window</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'others:others_autogate_system' %}">
                     <img class="img-thumbnail" src="{% static 'img/autogate.jpg' %}" alt="Autogate System">
                 </a>
               </div>
            </div>
            <h4>Autogate System</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'others:others_hardware_misc' %}">
                     <img class="img-thumbnail" src="{% static 'img/hardware misc.jpg' %}" alt="Hardware Misc">
                 </a>
               </div>
            </div>
            <h4>Hardware Misc</h4>
        </div>
    </div>
</div>
{% endblock %}