{% extends 'others/base_product_others.html' %}

{% block title %}
<title>Wooden Window | Wooden Window in Johor Bahru (JB)</title>
{% endblock %}

{% block others %}
<div class="tab-content">
    {% if others_wooden_window_page != others_wooden_window %}
    {% for d in others_wooden_window %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="others_wooden_window{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="others_wooden_window{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in others_wooden_window %}
        {% if forloop.counter == 1 %}
        <div id="others_wooden_window" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}