{% extends 'aluminium/base_product_aluminium.html' %}

{% block title %}
<title>Shower Screen | Shower Screen in Johor Bahru (JB)</title>
{% endblock %}

{% block aluminium %}
<div class="tab-content">
    {% if aluminium_shower_screen_page != aluminium_shower_screen %}
    {% for d in aluminium_shower_screen %}
        {% cycle "" "2" "3" "4" "5" "6" "7" "8" "9" as range silent %}
        {% if forloop.counter == 1 %}
        <div id="aluminium_shower_screen{{range}}" class="tab-pane fade in active">
        {% else %}
        <div id="aluminium_shower_screen{{range}}" class="tab-pane fade">
        {% endif %}
            {% for x in d %}
                {% if forloop.counter == 1 %}
	                <div class="row">
                {% endif %}
            {% include 'product_col.html' %}
            {% endfor %}
	                </div>
        </div>
    {% endfor %}
    {% else %}
        {% for x in aluminium_shower_screen %}
        {% if forloop.counter == 1 %}
        <div id="aluminium_shower_screen" class="tab-pane fade in active">
	        <div class="row">
        {% endif %}
            {% include 'product_col.html' %}
        {% endfor %}{% endif %}
	        </div>
        </div>
</div>
{% include 'contact_modal.html' %}
{% endblock %}