{% extends 'base_product.html' %}
{% load staticfiles %}

{% block title %}
<title>Aluminium Products - Aluminium Door | Aluminium Cabinet</title>
{% endblock %}

{% block jumbotron %}
{% include 'jumbotron.html' with header="Aluminium Products" %}
{% endblock %}

{% block contents %}
<div class="container con-padding">
    <div class="row">
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'aluminium:aluminium_door' %}">
                     <img class="img-thumbnail" src="{% static 'img/aluminium door.jpg' %}" alt="Aluminium Door">
                 </a>
               </div>
            </div>
            <h4>Aluminium Door</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'aluminium:aluminium_cabinet' %}">
                     <img class="img-thumbnail" src="{% static 'img/aluminium cabinet.jpg' %}" alt="Aluminium Cabinet">
                 </a>
               </div>
            </div>
            <h4>Aluminium Cabinet</h4>
        </div>
        <div class="col-sm-4 col-ms-6">
            <div class="table">
               <div class="table-cell">
                 <a href="{% url 'aluminium:shower_screen' %}">
                     <img class="img-thumbnail" src="{% static 'img/shower screen.jpg' %}" alt="Shower Screen">
                 </a>
               </div>
            </div>
            <h4>Shower Screen</h4>
        </div>
    </div>
</div>
{% endblock %}