{% extends 'base.html' %}

{% block title %}
<title>Laju Jaya Trading - Door, Door Lock & Others in Johor Bahru</title>
{% endblock %}

{% block cover %}
        <div class="table">
            <div class="table-cell" style="color:#fcac45; height:90%">
                <span class="fa fa-exclamation-triangle icon" style="font-size: 100px"></span>
                <h1>500 Server Error. Something has gone wrong, We will fix that soon !</h1>
                <h2><a href="{% url 'home' %}" style="text-decoration: underline; color:#fcac45">Back to Home Page >> </a></h2>
            </div>
        </div>
{% endblock %}