{% load staticfiles %}
<!DOCTYPE html>
{% spaceless %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block meta %}{% endblock %}
    <meta property="og:url" content="http://lajujayatrd.com" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Laju Jaya Trading | Johor Bahru" />
	<meta property="og:description" content="Door, Digital Door Lock, Door Lock, Kitchen & Bathroom Accessories, Bathroom Bi-Fold Door, Aluminium Cabinet and More in Johor Bahru >> Check out more !!" />
	<meta property="og:image" content="http://lajujayatrd.com/static/img/cover1.jpg" />
    <meta property="fb:admins" content="100000426900931" />
    <meta name="author" content="CH~">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    {% block title %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap_ms.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.offcanvas.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">

    {% block css %}{% endblock %}
  </head>

  <body>
<div class="wrapper">
  <!-- --------------navbar----------- -->
    {% include 'navbar.html' with chinese="利竹贸易"%}

	{% block cover %}{% endblock %}{% block content %}{% endblock %}

<!-- -------------ScrollToPageTop----------- -->
<a href="#" class="scrollToTop"><span class="glyphicon glyphicon-chevron-up"></span></a>

<footer>
{% include 'footer.html' %}
</footer>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/cover.js' %}"></script>
    <script src="{% static 'js/bootstrap.offcanvas.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
{% endspaceless %}