<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content no-shadow">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <img class="img-thumbnail" src="" alt="">
            <div id="modal_description">
                <ul>

                </ul>
            </div>
            <div class="alert alert-info" role="alert" style="text-align: left;">
                Send us a email here if you interested. We will reply as soon as possible!
            </div>
{% include 'contact_form.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary dis" form="modal-form">Send</button>
        </div>
      </div>
  </div>
</div>