{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Contact Us | Laju Jaya Trading - Johor Bahru(JB)</title>
{% endblock %}

{% block css %}
<link href="{% static 'css/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron cover-contact">
    <h1 class="wow flipInY">How To Contact Us</h1>
</div>
<div class="container con contact">
    <h2 class="info wow fadeInUp">Contact Info   <span class="fa fa-phone-square icon-phone fa-2x"></span></h2>
    <div class="line">
        <hr>
    </div>
    <div class="row row-product">
        <div class="col-xs-12 flex" style="text-align: left">
            <p class="wow fadeInUp" data-wow-delay="0.2s"><span class="fa fa-building fa-fw icon-contact"></span>Laju Jaya Trading</p>
            <p class="wow fadeInUp" data-wow-delay="0.4s"><span class="fa fa-map-marker fa-fw icon-contact"></span>25, Jalan Setia 9/17, Taman Setia Indah, 81100 Johor Bahru, Johor, Malaysia.</p>
            <p class="wow fadeInUp" data-wow-delay="0.6s"><span class="fa fa-fax fa-fw icon-contact"></span>+607-3596775</p>
            <p class="wow fadeInUp" data-wow-delay="0.8s"><span class="fa fa-envelope fa-fw icon-contact"></span>lajujayatrd@gmail.com</p>
            <p class="wow fadeInUp" data-wow-delay="1s"><span class="fa fa-mobile fa-fw icon-contact"></span>+6016-7185081, +6016-7155081</p>
        </div>
    </div>
    <h2 class="info wow fadeInUp">Our Location   <span class="fa fa-map-marker icon fa-2x"></span></h2>
    <div class="line">
        <hr>
    </div>
    <div class="wow fadeInUp map-padding">
        <div id="googleMap" style="width:auto;height:350px;"></div>
    </div>
    <h2 class="info wow fadeInUp">Leave Us An Email   <span class="fa fa-envelope-o icon fa-2x"></span></h2>
    <div class="line">
        <hr>
    </div>
    <div class="contact-form-class">
        {% include 'contact_us_page_form.html' %}
        <button type="submit" class="btn btn-primary dis" form="contact-form">Send</button>
    </div>

</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}