{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>FAQ | Laju Jaya Trading - Door Shop in Johor Bahru(JB)</title>
{% endblock %}

{% block css %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron cover-faq">
    <h1 class="wow bounceIn">Frequently Asked Questions</h1>
</div>
<div class="container con">
    <div class="row">
        <h1>Sorry, this page is now not available, please come again later !</h1>
    </div>
</div>
{% endblock %}