<div class="divider"></div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6" style="text-align: right">
                <p>Follow Us On : <a href="https://www.facebook.com/Laju-Jaya-Trading-%E5%88%A9%E7%AB%B9%E8%B4%B8%E6%98%93-314464582020380" target="_blank">
                <span class="fa-stack fa-lg social">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-facebook fa-stack-1x"></i>
                </span></a></p>
            </div>
            <div class="col-xs-6" style="text-align: left;padding-top: 7px">
                <div class="fb-like" data-href="http://lajujayatrd.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer2">
    <p>Laju Jaya Trading  <i class="fa fa-codiepie"></i>  2015</p>
</div>