{% extends "base.html" %}
{% load staticfiles %}

{% block meta %}
<meta name="description" content="Located in Johor Bahru, we sell door, door lock, digital door lock, kitchen & bathroom accessories
and More with LOWEST PRICE and ATTRACTIVE OFFERS!">
{% endblock %}

{% block title %}
<title>Laju Jaya Trading - Door, Door Lock & More in Johor Bahru</title>
{% endblock %}

{% block cover %}
<div id="owl-demo" class="owl-carousel owl-theme">
    {% for item in carosel %}
    {% if forloop.counter == 1 %}
      <div class="item con-bg1" style="background-image: url({{ item.image.url }});">
        <div class="table">
              <div class="table-cell">
                <h1 class="wow bounceInLeft" data-wow-duration="2s">{{ item.name }}</h1>
              </div>
          </div>
      </div>
    {% else %}
      <div class="item con-bg1" style="background-image: url({{ item.image.url }});">
          <div class="table">
              <div class="table-cell">
                <h1>{{ item.name }}</h1>
              </div>
          </div>
      </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container con">
    <div class="row row-product">
        <h2 class="wow bounce" data-wow-duration="2s">We specialized in various category, Inside & Outside of your house  <span class="fa fa-home icon"></span></h2>
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-wow-duration="1s">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'img/cover-door.jpg' %}" alt="Door">
                <div class="overlay">
                   <h2>Doors</h2>
                   <a class="info" href="{% url 'door:door' %}">More Doors >></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text">
                    <h4>Doors</h4>
                    <a href="{% url 'door:door' %}" class="btn btn-lg btn-default">More Doors >></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-wow-duration="1s">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'img/digital_lock2.jpg' %}" alt="Digital Door Lock">
                <div class="overlay">
                   <h2>Digital Door Locks</h2>
                   <a class="info" href="{% url 'doorlock:digital_doorlock' %}">More Digital Door Locks >></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text">
                    <h4>Digital Door Locks</h4>
                    <a href="{% url 'doorlock:digital_doorlock' %}" class="btn btn-lg btn-default">More Digital Locks >></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-wow-duration="1s">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'img/cover-door-lock.jpg' %}" alt="Door Lock">
                <div class="overlay">
                   <h2>Door Locks</h2>
                   <a class="info" href="{% url 'doorlock:doorlock' %}">More Door Locks >></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text">
                    <h4>Door Locks</h4>
                    <a href="{% url 'doorlock:doorlock' %}" class="btn btn-lg btn-default">More Door Locks >></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-wow-duration="1s">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'img/cover-aluminium.jpg' %}" alt="Aluminium Products">
                <div class="overlay">
                   <h2>Aluminium Products</h2>
                   <a class="info" href="{% url 'aluminium:aluminium' %}">More Aluminium Products >></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text">
                    <h4>Aluminium Products</h4>
                    <a href="{% url 'aluminium:aluminium' %}" class="btn btn-lg btn-default">More Products >></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-wow-duration="1s">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'img/cover-kitchen.jpg' %}" alt="Bathroom & Kitchen Accessories">
                <div class="overlay">
                   <h2>Kitchen & Bathroom Accessories</h2>
                   <a class="info" href="{% url 'kitchen_bathroom_accessories:kitchen_bathroom_accessories' %}">See More >></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text">
                    <h4>Kitchen & Bathroom Accessories</h4>
                    <a href="{% url 'kitchen_bathroom_accessories:kitchen_bathroom_accessories' %}" class="btn btn-lg btn-default">See More >></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-wow-duration="1s">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'img/cover-others.jpg' %}" alt="Other Products">
                <div class="overlay">
                   <h2>Other Products</h2>
                   <a class="info" href="{% url 'others:others' %}">More Other Products >></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text">
                    <h4>Other Products</h4>
                    <a href="{% url 'others:others' %}" class="btn btn-lg btn-default">More Other Products >></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron cover-digital">
    <h1 class="wow bounceIn" data-wow-duration="1s">Digital Door Lock</h1>
</div>
<div class="container con">
    <div class="row row-product" id="digital">
        <div class="col-xs-12 text" style="padding-top: 0;padding-bottom: 10px;">
            <h4 style="color:#fcac45;padding-top:20px;font-weight:bold;">Advantages of Digital Door Lock  <span class="fa fa-share" style="padding-left:20px;color:#fcac45;"></span></h4>
            <div class="line" style="margin-top:0;border-top: 4px solid rgba(252, 172, 69, 0.48);"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="list wow fadeInLeft">
                        <p><span class="fa fa-check-square-o"></span>Various ways to open a door - finger print, user access code, key tag and mechanical override key</p>
                    </div>
                    <div class="list wow fadeInLeft">
                        <p><span class="fa fa-check-square-o"></span>Anti-hacking encryption protocol</p>
                    </div>
                    <div class="list wow fadeInLeft">
                        <p><span class="fa fa-check-square-o"></span>Unprecedented design with modern style</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="list wow fadeInLeft">
                        <p><span class="fa fa-check-square-o"></span>Robust structural-design</p>
                    </div>
                    <div class="list wow fadeInLeft">
                        <p><span class="fa fa-check-square-o"></span>Long Battery Life Span</p>
                    </div>
                </div>
            </div>
            <hr class="featurette-divider" style="margin-top: 60px;border-top-color:#fcac45;">
            <h4 style="color:#fcac45;padding-top:40px;font-weight:bold;" >We even provides you with  <span class="fa fa-share" style="padding-left:20px;color:#fcac45;"></span></h4>
            <div class="line" style="margin-top:0;border-top: 4px solid rgba(252, 172, 69, 0.48);"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="list wow bounceIn">
                        <p><span class="fa fa-check-circle"></span>1 year Warranty</p>
                    </div>
                    <div class="list wow bounceIn" data-wow-delay="0.2s">
                        <p><span class="fa fa-check-circle"></span>Installation included</p>
                    </div>
                    <div class="list wow bounceIn" data-wow-delay="0.4s">
                        <p><span class="fa fa-check-circle"></span>On phone & On site support</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="hovereffect wow fadeInUp">
                <img class="img-responsive" src="{% static 'img/digital_lock2.jpg' %}" alt="Samsung Digital Lock" style="width: auto;height:380px;">
                <div class="overlay">
                   <h2>Samsung</h2>
                   <a class="info" href="#">Samsung Digital Lock</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="hovereffect wow fadeInUp">
                <img class="img-responsive" src="{% static 'img/digital_lock1.jpg' %}" alt="Gateman Digital Lock" style="width: auto;height:380px;">
                <div class="overlay">
                   <h2>GateMan</h2>
                   <a class="info" href="#">Gateman Digital Lock</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 wow fadeInUp">
            <a href="{% url 'doorlock:digital_doorlock' %}" class="btn btn-default btn-lg btn-self">See More  >></a>
        </div>
    </div>
</div>
<div class="jumbotron cover-service">
    <h1 class="wow bounceIn">Professional Services</h1>
</div>
<div class="container con">
    <div class="well well-sm well-orange wow fadeInDown">
        <h4>What We Offer</h4>
    </div>
    <div class="row row-product">
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-sr='enter left,move 30px,reset,over 1s'>
            <span class="fa fa-paint-brush icon"></span>
            <h4 class="text">Door Varnishing / Painting</h4>
        </div>
        <div class="col-sm-4 col-ms-6 wow bounceInUp" data-wow-delay="0.2s" data-sr='enter bottom,move 30px,reset,over 1s,wait 0.2s'>
            <span class="fa fa-cog fa-spin icon"></span>
            <h4 class="text">Digital Door Lock Installation</h4>
        </div>
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-wow-delay="0.4s" data-sr='enter right,move 30px,reset,over 1s,wait 0.4s'>
            <span class="fa fa-wrench icon"></span>
            <h4 class="text">Door & Door Lock Installation</h4>
        </div>
    </div>
</div>
<div class="jumbotron cover-about">
    <h1 class="wow flipInY">About Us</h1>
</div>
<div class="colour">
    <div class="container">
        <div class="box wow fadeInUpBig">
            <div class="well about">
                <p><span class="fa fa-quote-left fa-2x fa-pull-left fa-border"></span>
                    Laju Jaya Trading is a company which specialized in, construction works, design & renovation,
                    door, door lock & accessories, digital Door lock, hardware, sanitary ware, bathroom & kitchen
                    accessories and furniture.</p><p></p>
                <p>Our company team has extensive experience and professional skills that ready to serve all of our
                    customers. Besides that, our professional company team will provide the professional advices and
                    opinions to solve your problem as well.  Hence, we have a group of loyal customers since the first
                    day our company establishes until today.</p><p></p>
                <p>
                    We believe the high quality products are the main factor to maintain and get trusted from customers,
                    that why we insist with this aim and it never change. We will fulfill your desire and satisfy with our
                    services. So, our target now is increase our sales marketing and expands our business network to nationwide.
                    <span class="fa fa-quote-right fa-2x fa-pull-right fa-border"></span>
                </p>
                <p></p><p></p>
            </div>
        </div>
    </div>
</div>
<div class="container con contact">
    <h2 class="wow fadeInUp"><span class="text-muted">FEEL FREE TO</span> CONTACT US</h2>
    <div class="line">
        <hr>
    </div>
    <div class="row row-product">
        <div class="col-sm-6 flex" style="text-align: left">
            <h3 class="info wow fadeInUp">Contact Info   <span class="fa fa-phone-square icon-phone fa-2x"></span></h3>
            <p class="wow fadeInUp" data-wow-delay="0.2s"><span class="fa fa-building fa-fw icon-contact"></span>Laju Jaya Trading</p>
            <p class="wow fadeInUp" data-wow-delay="0.4s"><span class="fa fa-map-marker fa-fw icon-contact"></span>25, Jalan Setia 9/17, Taman Setia Indah, 81100 Johor Bahru, Johor, Malaysia.</p>
            <p class="wow fadeInUp" data-wow-delay="0.6s"><span class="fa fa-fax fa-fw icon-contact"></span>+607-3596775</p>
            <p class="wow fadeInUp" data-wow-delay="0.8s"><span class="fa fa-envelope fa-fw icon-contact"></span>lajujayatrd@gmail.com</p>
            <p class="wow fadeInUp" data-wow-delay="1s"><span class="fa fa-mobile fa-fw icon-contact"></span>+6016-7185081, +6016-7155081</p>
        </div>
        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div id="googleMap" style="width:auto;height:280px;"></div>
        </div>
    </div>
</div>

{% endblock %}
