<nav class="navbar navbar-default navbar-fixed-top navbar-at-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
            <span class="sr-only">Toggle navigation</span>
            <span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
        </button>
      <a class="navbar-brand" href="{% url 'home' %}">Laju Jaya Trading <span class="manderin">{{ chinese }}</span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- Push Menu Left -->
    <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
          <ul class="dropdown-menu row no-shadow" role="menu" style="height:auto;background-color: white">
				<li class="col-sm-3">
					<ul>
						<li class="dropdown-header"><a href="{% url 'door:door' %}">Doors</a></li>
						<li><a href="{% url 'door:solid_wooden_door' %}">Solid Wooden Door</a></li>
						<li><a href="{% url 'door:firedoor' %}">Fire Door</a></li>
						<li><a href="{% url 'door:MPC_design_door' %}">MPC Design Door</a></li>
						<li class="divider"></li>
						<li class="dropdown-header"><a href="{% url 'aluminium:aluminium' %}">Aluminium Products</a></li>
						<li><a href="{% url 'aluminium:aluminium_cabinet' %}">Aluminium Cabinet</a></li>
						<li><a href="{% url 'aluminium:aluminium_door' %}">Aluminium Door</a></li>
						<li><a href="{% url 'aluminium:shower_screen' %}">Shower Screen</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header header-inline"><a href="{% url 'kitchen_bathroom_accessories:kitchen_bathroom_accessories' %}">Kitchen & Bathroom Accessories</a></li>
						<li><a href="{% url 'kitchen_bathroom_accessories:sink' %}">Sink</a></li>
						<li><a href="{% url 'kitchen_bathroom_accessories:kitchen_accessories' %}">Kitchen Accessories</a></li>
						<li><a href="{% url 'kitchen_bathroom_accessories:bathroom_accessories' %}">Bathroom Accessories</a></li>
						<li><a href="{% url 'kitchen_bathroom_accessories:water_tap' %}">Water Tap</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"><a href="{% url 'doorlock:ikaros' %}">Ikaros Door Lock</a></li>
						<li><a href="{% url 'doorlock:ikaros_cylindrical_lever' %}">Cylindrical Level</a></li>
						<li><a href="{% url 'doorlock:ikaros_pad_lock' %}">Pad Lock</a></li>

					</ul>
				</li>
				<li class="col-sm-3">
					<ul>
                      <li class="dropdown-header"><a href="{% url 'doorlock:digital_doorlock' %}">Digital Door Lock  <span class="glyphicon glyphicon-fire icon-fire" style="padding-left: 15px"></span></a></li>
						<li><a href="{% url 'doorlock:digital_doorlock_samsung' %}">Samsung</a></li>
						<li><a href="{% url 'doorlock:digital_doorlock_gateman' %}">Gateman</a></li>
						<li class="divider"></li>
						<li class="dropdown-header"><a href="{% url 'doorlock:hafele' %}">Hafele Door Lock</a></li>
                      <li class="hafele-inline"><a href="{% url 'doorlock:hafele_cylindrical_lever_handle_set' %}">Cylindrical Lever Handle Set</a></li>
                      <li><a href="{% url 'doorlock:hafele_lever_handle_set' %}">Lever Handle Set</a></li>
                      <li class="hafele-inline"><a href="{% url 'doorlock:hafele_tubular_lever_handle_set' %}">Tubular Lever Handle Set</a></li>
						<li class="divider"></li>
						<li class="dropdown-header"><a href="{% url 'doorlock:viva' %}">Viva Door Lock</a></li>
                      <li><a href="{% url 'doorlock:viva_cylindrical_knob_set' %}">Cylindrical Knob Set</a></li>
                      <li><a href="{% url 'doorlock:viva_hinge' %}">Hinge</a></li>
                      <li><a href="{% url 'doorlock:viva_hook_lock' %}">Hook Lock</a></li>
                      <li><a href="{% url 'doorlock:viva_tubular_lockset' %}">Tubular Lockset</a></li>
					</ul>
				</li>
				<li class="col-sm-3">
					<ul>
                      <li class="dropdown-header"><a href="{% url 'doorlock:st_guchi' %}">ST Guchi Door Lock</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_accessories' %}">Accessories</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_cylindrical_lever' %}">Cylindrical Level</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_cylindrical_lock' %}">Cylindrical Lock</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_deadbolt_lock' %}">Deadbolt Lock</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_door_closer' %}">Door Closer</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_handle_set' %}">Handle Set</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_lever_handle' %}">Lever Handle</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_mortise_lock' %}">Mortise Lock</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_mortise_handle_set' %}">Mortise Handle Set</a></li>
                      <li class="st_guchi-inline"><a href="{% url 'doorlock:st_guchi_mortise_hook_lock' %}">Mortise Lock & Hook Lock</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_pad_lock' %}">Pad Lock</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_profile_cylinder' %}">Profile Cylinder</a></li>
                      <li><a href="{% url 'doorlock:st_guchi_pull_handle' %}">Pull Handle</a></li>
					  <li><a href="{% url 'doorlock:st_guchi_tubular_lever' %}">Tubular Lever</a></li>
					</ul>
				</li>
				<li class="col-sm-3">
					<ul>
                      <li class="dropdown-header"><a href="{% url 'doorlock:greset' %}">Greset Door Lock</a></li>
                      <li><a href="{% url 'doorlock:greset_cylindrical_lock' %}">Cylindrical Lock</a></li>
                      <li><a href="{% url 'doorlock:greset_deadbolt_lock' %}">Deadbolt Lock</a></li>
                      <li><a href="{% url 'doorlock:greset_handle_set' %}">Handle Set</a></li>
                      <li><a href="{% url 'doorlock:greset_tubular_lever' %}">Tubular Lever</a></li>
						<li class="divider"></li>
						<li class="dropdown-header"><a href="{% url 'others:others' %}">Others</a></li>
						<li><a href="{% url 'others:others_staircase' %}">Staircase</a></li>
						<li><a href="{% url 'others:others_wooden_window' %}">Wooden Window</a></li>
						<li><a href="{% url 'others:others_autogate_system' %}">Autogate System</a></li>
						<li><a href="{% url 'others:others_hardware_misc' %}">Hardware Misc</a></li>
					</ul>
				</li>
          </ul>
        </li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>