<div class="col-md-3 col-ms-6 col-md-6">
     <div class="table">
         <div class="table-cell">
           <a data-toggle="modal" href="#modal" data-name="{{x.name}}" data-image="{{x.image.url}}" data-description="{{x.description}}" data-type="{{x.type}}">
               <img class="img-thumbnail" src="{{x.image.url}}" alt="{{x.name}}">
           </a>
         </div>
     </div>
     <h4>{{ x.name }}</h4>
</div>