{% extends 'base.html' %}
{% load staticfiles %}

{% block meta %}
<meta name="description" content="We provide you with professional services - door installation, digital door lock installaion, door lock installation, door varnishing / painting and More! >>">
{% endblock %}

{% block title %}
<title>Our Services - Door & (Digital) Door Lock installation</title>
{% endblock %}

{% block css %}
<link href="{% static 'css/service.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron cover-service" style="height:50%">
    <h1 class="wow bounceIn">Professional Services</h1>
</div>
<div class="container con">
    <div class="well well-sm well-orange wow fadeInDown">
        <h4>What We Offer</h4>
    </div>
    <div class="row row-product">
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-sr='enter left,move 30px,reset,over 1s'>
            <span class="fa fa-paint-brush icon"></span>
            <h4 class="text">Door Varnishing / Painting</h4>
        </div>
        <div class="col-sm-4 col-ms-6 wow bounceInUp" data-wow-delay="0.2s" data-sr='enter bottom,move 30px,reset,over 1s,wait 0.2s'>
            <span class="fa fa-cog fa-spin icon"></span>
            <h4 class="text">Digital Door Lock Installation</h4>
        </div>
        <div class="col-sm-4 col-ms-6 wow fadeInUp" data-wow-delay="0.4s" data-sr='enter right,move 30px,reset,over 1s,wait 0.4s'>
            <span class="fa fa-wrench icon"></span>
            <h4 class="text">Door & Door Lock Installation</h4>
        </div>
    </div>
    <div class="service-addition">
        <div class="well">
            For more details on our services, Please kindly contact us via <a href="{% url 'contact' %}" target="_blank">Email</a> Or
            call us on 07-3596775 / 016-7185081 / 016-7155081
        </div>
    </div>
</div>
{% endblock %}