.no-shadow {
  text-shadow: none;
}

.scrollToTop, a.scrollToTop {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    background: skyblue;
    font-weight: bold;
    font-size: 19px;
    padding-top: 7px;
    color: #FFFFFF;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    z-index: 1000;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.scrollToTop > .glyphicon {
    padding-left: 1px;
}

.scrollToTop:hover {
    background: rgb(143, 163, 188);
    box-shadow: 0 0 5px rgba(143, 163, 188,0.7);
}

::selection {
    background: skyblue;
    color: white;
}
::-moz-selection {
    background: skyblue;
    color: white;
 }

.wrapper {
    height: 100%;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 165, 0, 0.6);
}
::-webkit-scrollbar-track {
    background-color: beige;
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:focus {
    background-color: orange;
}
 ::-webkit-scrollbar-button{
     background-color:#DDD;
 }

