.cover-contact {
    background-image: url('/static/img/cover_contact.jpg');
}

.info {
    padding-bottom: 15px;
}

.flex > p {
    font-size: 20px;
}

.row-product, .line, .map-padding {
    padding-bottom: 50px;
}

.icon {
    padding-left: 15px;
}

.contact-form-class{
    padding-top: 20px;
    text-align: left;
}

.contact-form-class > button {
    float: right;
    margin-top: 10px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: wait;
}