html {
  height: 100%;
}
body {
  text-align: center;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

/*---------------------------------------------- OUT OF COVER.CSS------------------------------------------------*/

.featurette-heading {
  /* Thin out the marketing headings */
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

.featurette-divider {
  margin: 1px 0; /* Space out the Bootstrap <hr> more */
}

hr.featurette-divider{
  border-top: 1px solid lightgrey;
}

.con{
  padding-top: 60px;
  padding-bottom: 90px;
  font-family: "Century Gothic";
}

.con > .row > h2 {
  line-height: 1.2em;
}

.con > .row-product > div {
  padding-top: 50px;
}

.con .text {
  padding-top: 30px;
}
.con .text > h4 {
  padding-bottom: 18px;
  font-size: 20px;
}

.con .text > p{
  padding-bottom: 5px;
}

.con .text > a.btn {
  border: 2px solid #fcac45;
  color: #FC9245;
}

.con .text >a.btn:hover, .con .text >a.btn:focus {
  color: white;
  background-color: #fcac45;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  border-color: transparent;
}

#digital .hovereffect{
  margin-bottom: 30px;
}

.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  background-color: rgba(138, 109, 59, 0.15);
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect img {
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
  height:315px;
  width: auto;
}

.hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:#fcac45;
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:20px 10px;
  margin-top: 25%;
  font-family: "Century Gothic";
}

.hovereffect a.info {
  display: inline-block;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
  visibility: hidden;
}

.hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
  border-color: #fcac45;
  text-shadow:0 0 5px #fcac45;
}

.hovereffect h2:hover {
  background-color: white;
  color: #fcac45;
}

.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
  visibility: visible;
}

.cover-digital, .cover-service, .cover-about, .cover-contact, .cover-faq {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  font-family: "Century Gothic";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow:0 0 5px #fff;
}

.cover-digital{
  background-image: url("/static/img/cover-digital.jpg");
}

.cover-service {
  background-image: url("/static/img/cover-service.jpg");
  height: 35%;
}

.cover-about {
  background-image: url("/static/img/cover-about.jpg");
}

.jumbotron {
  margin-bottom: 0;
}

.btn-self {
  border: 3px solid #fcac45;
  border-radius: 0;
  width: 280px;
  color: #fcac45;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-weight: bold;
}

.btn-self:hover, .btn-self:focus{
  background-color: #fcac45;
  color: white;
  border-color: transparent;
}

.icon {
  font-size: 60px;
  color: #fcac45;
}

.well-orange {
  background-color: #fcac45;
  color: white;
  border: none;
}

.well-orange > h4 {
  font-weight: bold;
}

.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

.box {
  margin-top: -50px;
  font-family: "Century Gothic";
  box-shadow:0 0 15px #fff;
}

.about > p {
  text-align: left;
  padding-top: 10px;
  font-size: large;
}

.colour {
  background-color: rgba(252, 172, 69, 0.7);
  padding-bottom: 90px;
  box-shadow:inset 0 0 50px #fff;
}

.line {
  border-top: 4px solid #fcac45;
    height: 10px;
    width: 280px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  padding-bottom: 30px;
}

.line > hr {
  border-top: 4px solid rgba(252, 172, 69, 0.34);
    width: 80%;
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.contact {
  background-color: white;
}

.icon-phone {
  color: #fcac45;
  padding-left: 10px;
}

.icon-contact {
  color: #fcac45;
  padding-right: 35px;
  font-size: x-large;
}

.info {
  padding-bottom: 30px;
  text-align: center;
}

.row-product .flex > p, .list > p  {
  display: flex;
}

.list span {
  color:#fcac45;
  padding-right: 30px;
}

.list {
  padding-top: 20px;
  font-size: larger;
  text-align: left;
}


#bar{
  width: 0;
  max-width: 100%;
  height: 4px;
  background: #7fc242;
}
#progressBar{
  width: 100%;
  background: #EDEDED;
}

.owl-wrapper-outer, .owl-wrapper, .owl-item, .item{
  height: 100%;
}

.con-bg1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.con-bg2{
  background-image: url("/static/img/cover-carousel-2.jpg");
}
.con-bg3{
  background-image: url("/static/img/cover-carousel-3.jpg");
}

#owl-demo {
  height: 85%;
  width: 100%;
}
.table {
  display: table;
  height:100%;
  width:100%;
}
.table-cell {
  display: table-cell;
  font-family: "Century Gothic";
  color: white;
}

.table-cell > h1{
  position: absolute;
  bottom:80px;
  right: 0;
  padding-right: 50px;
  padding-left: 10px;
  background-color:#fcac45 ;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid white;
}

@media (min-width: 857px){
  .left{
    margin-right: 250px;
  }

  .right-abit {
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .table > .table-cell > h1 {
    font-size: 28px;
  }
  .table > .table-cell > h2 {
    font-size: 22px;
  }
}