.footer2, .footer {
    bottom: 0;
	position: relative;
	width: 100%;
	font-family: "Century Gothic";
}

.footer2 {
	height: 40px;
	border-top: 1px solid #DDDDDD;
	padding: 10px 0;
	text-align: left;
    background: #fcac45;
	color: white;
}

.footer2 > p{
	padding-left: 50px;
}

.footer {
	height: 75px;
	padding: 17px 0;
}

.footer p > a{
	padding-left:50px;
}

@media (max-width: 448px) {
	.footer p > a{
		padding-left:0;
	}
}

@media (max-width: 330px){
	.footer p {
		font-size: small;
	}
}

.social {
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.divider {
	border-top: 1px solid lightgrey;
    width: 400px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.social > .fa-circle {
	color: #fcac45;
}

.social > .fa-facebook {
	color:white;
}
