/* -----for full-width dropdown----- */

.nav > li{
  position: static;
}

.dropdown-menu > li > ul{
    padding-left: 0;
}

/* --------no text-shadow------------ */
.navbar-fixed-top {
  text-shadow: none;
  /*padding: 0 20px;*/
  background-color: #fcac45;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* navbar dropdown element */
.dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > ul > li > a:hover,
.dropdown-menu > li > ul > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: #eea236;
}

li {
  list-style-type: none;
}

.dropdown-header {
  background-color: #ffc04c;
  padding: 3px 10px;
}

.dropdown-header:hover {
  background-color: white;
}

.dropdown-menu > li > ul > li.dropdown-header > a{
  color: white;
  font-weight: 700;
  padding: 0;
  font-size: 13px;
}

.dropdown-menu > li > ul > li.dropdown-header > a:hover,
.dropdown-menu > li > ul > li.dropdown-header > a:focus{
  color: #fcac45;
  background-color: white;
}

.navbar-fixed-top-css {
  background-color: transparent;
  border-color:transparent;
  text-shadow: 0 1px 4px #000000;
  padding:20px;
  box-shadow: none;
}

.navbar-default-brand-css {
  color: white !important;
  font-size: 25px;
  border-bottom: 3px solid white;
  border-radius: 0;
  text-shadow: 2px 2px 4px #000000;
}

.navbar-fixed-top,.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>.dropdown-toggle, ul.navbar-right > li>a,.dropdown-header,
.dropdown-menu > li > ul > li.dropdown-header > a{
  transition: all 0.5s, text-shadow 1ms, background-color 0.2s;
  -webkit-transition: all 0.5s, text-shadow 1ms, background-color 0.2s;
  -moz-transition: all 0.5s, text-shadow 1ms, background-color 0.2s;
  -o-transition: all 0.5s, text-shadow 1ms, background-color 0.2s;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  background-color: white;
  color:#fcac45;
  border-color: transparent;
  box-shadow: 0 0 15px white;
  border-radius: 8px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.offcanvas-toggle{
  background: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  border-color: transparent;
  background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  border-color: inherit;
}

/*-----------------------------------------------------------------------------------*/
@media (min-width: 768px) { /* ---on big screen--- */
  .open > .dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  .dropdown-menu {
    width: 100%; /* ----for full-width dropdown---- */
    opacity: .3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    display: block;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
  }
  .dropdown-toggle-css {
    background-color: transparent !important;
    border-bottom: 4px solid #fcac45;
    border-radius: 0 !important;
  }

  .a-css {
    border-top: 3px solid white;
    font-weight: bold;
    color: white !important;
  }
  .navbar-default .navbar-nav>li>.dropdown-toggle,.navbar-default .navbar-nav>li>.dropdown-toggle:focus { /* product color */
    background-color: white;
    color: #fcac45;
    border-radius: 6px;
    font-weight: bold;
  }

  .navbar-default .navbar-nav>li>.dropdown-toggle:hover {
    background-color: #fcac45;
    color:white;
  }
}

@media (max-width: 767px){ /* -----on small screen----- */
  .dropdown-header > a{
    font-size: 12px;
  }

  .navbar-offcanvas {
    padding-left: 10px;
  }

  .navbar-default .navbar-offcanvas{
    background-color: #fcac45;
  }

  .navbar-default-brand-css {
    font-size: 20px;
  }

  .navbar-default .navbar-nav>li{
    background-color: #FC8945;
    text-shadow: none;
    text-align: left;
  }

  .navbar-default .navbar-nav>li>a{
    color: white;
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: white;
    color:#fcac45
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #fcac45;
    color: white;
  }

  .header-inline{
    display: inline-block;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a{
    padding:3px 10px;
  }
}

@media (max-width: 1177px){
  .dropdown-menu > li > ul > .hafele-inline > a:hover,
  .dropdown-menu > li > ul > .hafele-inline > a:focus {
    display: inline-block;
  }
}

@media (max-width: 1030px){
  .dropdown-menu > li > ul > .st_guchi-inline > a:hover,
  .dropdown-menu > li > ul > .st_guchi-inline > a:focus {
    display: inline-block;
  }
}

.icon-fire{
  color: red;
}

.manderin{
  color: green;
  text-shadow: none;
  font-weight: bold;
}

.manderin-css{
  background-color: rgba(255, 255, 255, 0.46);
}

@media (max-width: 379px){
  .manderin-css{
    display: none;
  }
}