body {
    background-color: white;
    color: black;
    text-align: center;
}

/*.img-thumbnail {*/
	/*height:100%;*/
	/*width:auto;*/
/*}*/

.img-thumbnail {
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 215px;
}

.jumbotron {
    height: 300px;
    width: 100%;
    background-color: #fcac45;
    display: table;
}

.jumbotron h1{
    padding: 20px;
    background-color: white;
    color: #fcac45;
    border-radius: 100px;
}

/*.test {*/
	/*width:100%;*/
	/*height:100px;*/
/*}*/
.table {
  display: table;
  height:225px;
  width:100%;
    border: 1px solid #fcac45;
    border-radius: 5px;
    box-shadow:0 0 8px #FCF645;
   background-color: rgba(252, 172, 69, 0.57);
    transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}

.table:hover{
    box-shadow:0 0 14px rgba(0,0,0,.63);
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 768px) {
    /*.test {*/
	    /*height:180px;*/
    /*}*/
    .fontSize {
        font-size: 20px;
    }
}

/*@media (min-width: 1100px) {*/
	/*.test {*/
	    /*height:200px;*/
    /*}*/
/*}*/

#nav.affix {
    top: 50px;
}

#nav-top.affix {
    top:50px;
    background-color: beige;
    transition: background-color 0.3s;
}

#nav-top > li {
    display: none;
}

.nav-top-h4 {
    font-size: 20px;
}

@media (max-width: 626px){
    .nav-top-h4 {
        font-size: 18px;
    }
}

.affix-bottom {
    position: absolute;
}

.nav .active .nav .active{
    font-weight: bold;
}

/*.nav .nav {*/
    /*display: none;*/
/*}*/

.nav .active .nav {
    display: block;
}

.nav .nav {
    display: none;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

#nav {
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-tabs > li{
    float:none;
}

.panel-body {
    padding:0;
}

.form-group {
    text-align: left;
}

body > .container-fluid {
    margin-bottom: 30px;
}

#sidebar-nav {
    height: 850px;
    background-color: beige;
}

#modal_description {
    padding: 30px 10px;
}

#modal_description > ul > li{
    list-style-type: circle;
    text-align: left;
}

.modal-body > .img-thumbnail{
    max-height: none;
}

.nav-pills>li>a {
    border-radius: 8px;
    color: #fcac45;
    font-weight: 600;
    background-color: white;
}

.nav-pills>li>a:hover {
    background-color: #fcac45 ;
    color: white;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, transform 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, transform 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, transform 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, transform 0.3s;
}

.nav-pills>li.active>a:hover {
    background-color: rgba(252,172,69,0.8) ;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus{
    background-color: #FC8945;
}

@media (max-width: 767px){
    #sidebar-nav{
        display: none;
    }
}

.con-padding{
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: wait;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #FC8945;
    border: 1px solid #fcac45;
    color: white;
}

a {
    color: black;
}

#content-col {
    padding-bottom: 50px;
}