.service-addition{
    padding-top: 80px;
    font-size: large
}

.con {
   padding-bottom: 70px;
}

.service-addition > .well > a, .service-addition > .well > a:focus{
    text-decoration: none;
}

.service-addition > .well > a:hover {
    color: #fcac45;
}

.service-addition > .well {
    box-shadow: 0 0 15px #fcac45;
}